<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Smoothiet</h1>

        <!--
        <ul>
            <li th:each="annos : ${annokset}">
                <a th:href="${'/annokset/' + annos.id}"><span th:text="${annos.nimi}">Annoksen nimi</span></a>
            </li>
        </ul>
        
        -->
        
        <ul>
            <li th:each="annos : ${annokset}">
                <form th:action="@{~/annokset/{id}(id=${annos.id})}" method="post">
                    <a th:href="${'/annokset/' + annos.id}"><span th:text="${annos.nimi}">Annoksen nimi</span></a>
                    <input type="hidden" th:name="annosId" th:value="${annos.id}"/>
                    <input type="submit" value="Poista"/>
                </form>
                <p></p>
            </li>
        </ul>
        
        
        <p></p>
        
        <h3>Lisää uusi</h3>
        
        <form method="POST" action="/annokset">
            <input type="text" name="name"/><br/>
            <p></p>
            <input type="submit" value="Lisää"/><br/>
        </form>
        
        
        <p>
        </p>
        
        <h3>Lisää raaka-aineita</h3>
        
        <form action="/annosraaka-aineet" method="post">
            <select name="annosId">
                <option th:each="annos: ${annokset}" th:value="${annos.id}" th:text="${annos.nimi}">
                    annos
                </option>
            </select>
            <select name="raakaAineId">
                <option th:each="raakaAine: ${raakaAineet}" th:value="${raakaAine.id}" th:text="${raakaAine.nimi}">
                    raaka-aine
                </option>
            </select>
            <br/>

            <p>Järjestys</p>
            <input type="text" name="jarjestys"/><br/>

            <p>Määrä</p>
            <input type="text" name="maara"/><br/>

            <p>Ohje</p>
            <input type="text" name="ohje"/><br/>
            <p></p>
            <input type="submit" value="Lisää"/><br/>
        </form>
        
        <p>
            <a href="/">Smoothielistaukseen</a>
        </p>
    </body>
</html>
