<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Smoothiet</h1>

        <ul>
            <li th:each="annos : ${annokset}">
                <span th:text="${annos.nimi}">Annoksen nimi</span> <a th:href="${'/annokset/' + annos.id}">linkki</a>
            </li>
        </ul>
        
        <p></p>
        
        <h3>Lisää uusi</h3>
        
        <form method="POST" action="/annokset">
            <input type="text" name="name"/><br/>
            <input type="submit" value="Lisää"/>
        </form>
        
        
        <p>
        </p>
        
        <h3>Lisää raaka-aineita</h3>
        
        <ul>
            <li th:each="annos : ${annokset}">
                <span th:text="${annos.nimi}">Annos</span>
                <form th:action="@{~/annokset/{id}(id=${annos.id})}" method="post">
                    <select name="annosId">
                        <option th:each="annos: ${annokset}" th:value="${annos.id}" th:text="${annos.nimi}">
                            annos
                        </option>
                    </select>

                    <select name="raakaAineId">
                        <option th:each="raakaAine: ${raakaAineet}" th:value="${raakaAine.id}" th:text="${raakaAine.nimi}">
                            raaka-aine
                        </option>
                    </select>
               
            
                    <p>Järjestys</p>
                    <input type="text" name="jarjestys"/><br/>

                    <p>Määrä</p>
                    <input type="text" name="maara"/><br/>

                    <p>Ohje</p>
                    <input type="text" name="ohje"/><br/>

                    <input type="submit" value="Lisää"/>
                </form>
            </li>
        </ul>
        
            <!--
            <ul>
            <li th:each="task : ${tasks}">
                <span th:text="${task.name}">Task</span>
                <form th:action="@{~/categories/{id}(id=${task.id})}" method="post">
                    <select name="categoryId">
                        <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}">
                            category
                        </option>
                    </select>
                    <input type="submit" value="Categorize task!"/>
                </form>
                <form th:action="@{~/tasks/{id}(id=${task.id})}" method="post">
                    <select name="userId">
                        <option th:each="user: ${users}" th:value="${user.id}" th:text="${user.name}">
                            user
                        </option>
                    </select>
                    <input type="submit" value="Assign task!"/>
                </form>
            </li>
        </ul>
            -->
            
            
           
        
        
        <a href="/">Smoothielistaukseen</a>
    </body>
</html>
